/* 
 *    
 *  Mise en forme de la partie graphique de l'app
 *  Titre
 */
.top-bar .title-area .name h1{
    color:#008CBA !important;
    margin: 0 5px 0 5px !important;
    font-weight: bold;
}

#content {
    padding-top: 70px;
}

.leftSideBar{
    
    float: left;
    position: absolute;
    left: 0;
    top:44px;
}
.rightPanel{
    width: 100%;
    padding-left: 170px;   
}
.rightPanel #content{
        padding: 0 !important;
        top: 44px;
}