<template name="nav">
    <div class="fixed">
        <nav class="top-bar" data-topbar="">
              <ul class="title-area">
                <li class="name">
                  <h1>BIBLIMANIA</h1>
                </li>
                
                <li class="toggle-topbar menu-icon"><a href="{{pathFor route='accueil'}}"><span>Menu</span></a></li>
              </ul>
              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="has-form">
                        {{#if notLogged}}
                        <a href="{{pathFor route='connection'}}" id="at-nav-button" class="button">connection</a>
                        {{/if}}
                        {{#if currentUser }}
                        <a href="#" id="a-deconnection" class="button">déconnection</a>
                        {{/if}}
                        
                    </li>
                </ul>
                <!-- Left Nav Section -->
                <ul class="left">
                  <li class="active"><a href="{{pathFor route='accueil'}}">Accueil</a></li>
                  <li class=""><a href="{{pathFor route='besoin-d-aide'}}">Besoin d'aide ?</a></li>
                </ul>
              </section>
        </nav>
    </div>
</template>