<template name="categoriesMedia">

        <h3>Catégorie média</h3>
        <a href="{{pathFor route='categorieMediaNew'}}" class="button small">Nouveau</a>
        <hr>
         <table>
          <thead>
            <tr>
              <th width="20"></th>
              <th width="150">Nom</th>
              <th>Description</th>
              <th>Création</th>
              <th width="150">Actions</th>
            </tr>
          </thead>
          <tbody>
              {{#each allCategoriesMedia}}
                   <tr>
                      <td></td>
                      <td>{{ name }}</td>
                      <td>{{ description }}</td>
                      <td></td>
                      <td>
                          <a href="/admin/categories-media/edition/{{ _id}}" title="editer">
                              <i class="fa fa-pencil fa-2x"></i>
                          </a>
                          <a href="#" id="a-delete" title="supprimer"><i class="fa fa-remove fa-2x"></i></a>
                      </td>
                    </tr>
              {{/each}}
          </tbody>
        </table>
</template>