<template name="navAdmin">
    <div class="icon-bar vertical five-up">
      <a class="item" href="{{pathFor route='admin'}}" id="a-admin">
        <i class="fa fa-gear fa-5x"></i>
        <label>Admin</label>
      </a>
      <a class="item" href="" id="a-user">
        <i class="fa fa-user fa-5x"></i>
        <label>Utilisateur</label>
      </a>
      <a class="item" href="{{pathFor route='categoriesMedia'}}" id="a-categoryMedia">
        <i class="fa fa-list-alt fa-5x"></i>
        <label>Catégorie Média</label>
      </a>
      <a class="item" href="" id="a-media">
        <i class="fa fa-tv fa-5x"></i>
        <label>Media</label>
      </a>
    </div>  
    
</template>