<template name="accueil">
  <div id="content">
        <div class="container">
        <div class="text-center">
          <h1>Bienvenue sur BIBLIMANI l'application de gestion de vos medias !</h1>
          <p>
            Créer votre bibliothèque de film, musique, et partagez les autour de vous !
            Cette application est mise à disposition par le groupe <a href="http://www.meetup.com/fr/french-meteor-meetup/"> French Meteor Meetup</a>
            </p>

        </div>
      </div>
  </div>  
   
</template>